[submodule "bundle/glsl"]
	path = bundle/glsl
	url = https://github.com/vim-scripts/glsl.vim
[submodule "bundle/TagHighlight"]
	path = bundle/TagHighlight
	url = https://github.com/vim-scripts/TagHighlight.git
[submodule "bundle/vim-autotag"]
	path = bundle/vim-autotag
	url = https://github.com/craigemery/vim-autotag.git
[submodule "bundle/vim-hier"]
	path = bundle/vim-hier
	url = https://github.com/jceb/vim-hier.git
[submodule "bundle/vim-localvimrc"]
	path = bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/c99.vim"]
	path = bundle/c99.vim
	url = https://github.com/rustygeldmacher/c99.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "plugin/FastFold"]
	path = bundle/Fastfold
	url = https://github.com/Konfekt/FastFold.git
[submodule "plugin/deoplete"]
	path = bundle/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
